
on enable-low-power
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 1
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 1
    write /sys/module/pm_8x60/modes/cpu0/retention/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/retention/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled 1

    chown system system /sys/devices/system/cpu/cpu0/online
    chown system system /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu0/online
    chmod 664 /sys/devices/system/cpu/cpu1/online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1

    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 384000

    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 4
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential 10
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_multi_core 70
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential_multi_core 3
    write /sys/devices/system/cpu/cpufreq/ondemand/optimal_freq 1134000
    write /sys/devices/system/cpu/cpufreq/ondemand/sync_freq 1242000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_any_cpu_load 80

    write /sys/module/cpu_boost/parameters/boost_ms 20
    write /sys/module/cpu_boost/parameters/sync_threshold 1242000
    write /sys/module/cpu_boost/parameters/input_boost_freq 1134000
    write /sys/module/cpu_boost/parameters/input_boost_ms 40

    chown system system /sys/devices/platform/kgsl-2d0.0/kgsl/kgsl-2d0/pwrscale/trustzone/governor
    chown system system /sys/devices/platform/kgsl-2d1.0/kgsl/kgsl-2d1/pwrscale/trustzone/governor
    chown system system /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/pwrscale/trustzone/governor
    chmod 664 /sys/devices/platform/kgsl-2d0.0/kgsl/kgsl-2d0/pwrscale/trustzone/governor
    chmod 664 /sys/devices/platform/kgsl-2d1.0/kgsl/kgsl-2d1/pwrscale/trustzone/governor
    chmod 664 /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/pwrscale/trustzone/governor
    write /sys/devices/platform/kgsl-2d0.0/kgsl/kgsl-2d0/pwrscale/trustzone/governor ondemand
    write /sys/devices/platform/kgsl-2d1.0/kgsl/kgsl-2d1/pwrscale/trustzone/governor ondemand
    write /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/pwrscale/trustzone/governor ondemand

    rm /data/system/default_values

    start mpdecision

on property:sys.boot_completed=1
    # Set up KSM
    write /sys/kernel/mm/ksm/deferred_timer 1
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 2000
    write /sys/kernel/mm/ksm/run 1

    # Swap parameters
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/vfs_cache_pressure 85

    # Set iosched
    setprop sys.io.scheduler fiops

on property:init.svc.recovery=running
    trigger enable-low-power

on boot
    trigger enable-low-power
